.footer {
    padding: 70px 0 25px;

    background: #080808;

    border-top: 1px solid rgba(1, 177, 225, 0.1);
}

.footer-content {
    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 60px;
}

/* Marca */

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    display: inline-block;

    width: fit-content;

    margin-bottom: 15px;

    color: var(--color-violeta);
    color: #01b1e1;

    font-size: 1.5rem;

    line-height: 1.2;

    font-weight: 700;

    text-decoration: none;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.footer-logo img{
    display: block;

    width: 90px;
    height: auto;
}

.footer-logo:hover {
    color: #ffffff;

    transform: translateY(-2px);
}
.footer-brand p {
    max-width: 400px;

    margin: 0;

    color: #aaaaaa;

    line-height: 1.7;
}

/* Links */

.footer-links {
    display: flex;

    flex-direction: column;

    align-items: flex-start;

    gap: 10px;
}

.footer-links h3 {
    margin: 0 0 8px;

    color: #ffffff;

    font-size: 1rem;
}

.footer-links a {
    color: #aaaaaa;

    text-decoration: none;

    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.footer-links a:hover {
    color: #01b1e1;

    transform: translateX(4px);
}

/* Copyright */

.footer-bottom {
    margin-top: 50px;

    padding-top: 25px;

    border-top: 1px solid rgba(1, 177, 225, 0.1);

    text-align: center;
}

.footer-bottom {
    color: #777777;

    font-size: 0.9rem;
}

/* Tablet / mobile */

@media (max-width: 768px) {

    .footer {
        padding: 60px 0 25px;
    }

    .footer-content {
        grid-template-columns: 1fr;

        gap: 40px;
    }

    .footer-brand,
    .footer-links {
        align-items: center;

        text-align: center;
    }

    .footer-brand p {
        max-width: 450px;
    }

}